.library-container{
    display: flex;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    padding: 10px;

}

.bookCard{
    flex: 1;
    border: 2px solid blue;
    /* margin: 10%; */
}

.bookContent{
    border: 1pc soid green;
}