
/* body{
    background-color: #13b4ff;
} */
.container{

    /* width: 90%; */
    display: flex;
    width: 300px;
    height: 300px;
    border: 5px solid blue;
    justify-content: center;
}


.grid{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(5,1fr);
    
    gap: 0px;  
    margin: 25%;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid green;
}

.tiles{
    /* flex: 1 1 auto; */
    /* display: grid; */
    background-color: red;
    border: 1px solid black;
    /* place-items: center; */
    justify-content: stretch;
}

